.main-title{
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}

.main-content{
    
    flex: 1;
    padding: 12px;
}

.input-title {
    font-size: 14px;
    font-weight: bold;
}


.button{
    background-color: aqua;
    border: 2px solid aqua;
    height: 32px;
    border-radius: 8px;
}
.submit {
     background-color: aqua;
    border: 2px solid black;
}

.reset {
    background-color: white;
    border: 2px solid black;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=number]:focus {
    border: 3px solid #555;
}

form {
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
}

.Result-Section {
    text-align: center;
    background-color: aliceblue;
    border: 8px;
    padding: 12px;
}


@media only screen and (max-width: 425px){
    main {
        flex-direction: column;
    }
}